@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
    font-family:'roboto light' 'roboto-medium' 'roboto-thin-italic' 'Gill Sans', 'sans-serif';
}

body {
    
    margin: 0;
    box-sizing: border-box;
}
#main {
    background-color:rgb(213, 250, 250);
}
#about {
    background-color: rgb(247, 247, 225);
}
#contact {
    background-color:rgb(242, 240, 240);
}
#resume {
    background-color:rgb(221, 252, 252);
}
#work {
    background-color:rgb(250, 250, 241);
}
nav {
    background-color: aquamarine;
}
nav a {
    text-decoration: none;
    font-size: 20px;
    text-shadow: 30px;
    font-weight: 600;
    line-height: 30px;
    text-align: center;
    margin-right: 15px;
}
nav ul {
    list-style: none;
    line-height: 50px;
    display: inline-flex;
    margin-top: 20px;
    margin-bottom: -10px;
}
.link2 a {
    text-decoration: none;
    font-size: 25px;
    font-style: oblique;
    font-weight: 600;
    padding: 10px;
    border: 1;
    border-radius: 50px/25px;
    border-color: rgb(245, 62, 62);
    border-style: groove;
}
#founder {
    border: 1;
    border-color: dodgerblue;
    border-radius: 50%;
    border-style: outset;
    height: 460px;
    width: 400px;
}
.home {
    box-sizing: border-box;
}
img:hover {
opacity: 0.5;
}

article {
    float: left;
    display: block;
    padding: 12px 14px;
    width: 45%;
    margin-left: 1.5%;
}
aside {
    float: right;
    display: block;
    width: 43%;
    margin-right: 3%;
}
b {
    color: rgb(106, 12, 164);
    font-weight: bold;
}
.homepage {
    width: 45%;
}
.homepage, .homeaside, p {
    text-align: justify;
    line-height: 30px;
    color: black;
    text-decoration: none;
}
.homepage h3, .homeaside h3 {
    text-transform: capitalize;
    color: rgb(191, 13, 191);
    text-transform: uppercase;
}
#welc {
    word-spacing: 8px;
    text-transform: uppercase;
}
#name {
    letter-spacing: 5px;
    color: red;
}
.contact, h2 {
    text-align: center;
    margin-top: auto;
}
.contact, input, select, textarea {
    border-radius: 5px;
    background-color: #f2f2f2;
    width:80%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 6px;
    margin-bottom: 16px;
    display: inline;
}
.contact, label {
    font-size: 23px;
    font-weight: 700;
    color: purple;
    margin-right: 30px;
}

button {
    text-align: center;
    font-size: 28px;
    color: blue;
    font-style: normal;
    border: 3px;
    border-color: purple;
    border-style: dashed;
    border-radius: 50px;
}
.resume {
    margin-left: 20px;
}
.resume img, iframe {
    border: 4;
    border-radius: 50px;
    border-color: rgb(80, 225, 7);
   border-style: double;
    line-height: 20px;
}
h1 {
color: blue;
font-size: 25px;
}
.resume h2 {
    color: purple;
    border: none;
    margin-top: 20px;
}
.resume article {
    float: left;
    display: block;
    padding: 12px 14px;
    width: 43%;
    margin-left: 1.5%;
}
.resume aside {
    float: right;
    display: block;
    width: 45%;
    margin-right: 3%;
}
#table, th, td{
    border-collapse: collapse;
    line-height: 25px;
    padding-left: 12px;
    border-color: darkturquoise;
    border-width: 2px;
}
#table th {
    color: rgb(5, 161, 5);
}
#table tr:hover{
    background-color: rgb(146, 250, 215);
}
.work article {
    float: left;
    display: block;
    padding: 12px 14px;
    width: 42%;
    margin-left: 1.5%;
}
.work aside {
    float: right;
    display: block;
    width: 47%;
    margin-right: 3%;
    margin-top: 50px;
}
.work h3 {
    color: rgb(5, 119, 27);
    font-weight: 700;
    word-spacing: 7px;
    padding-top: 10px;
}
.work img{
    border: 1;
    border-radius: 25px;
    border-color: rgb(51, 235, 173);
    border-style: groove;
}
.work h2{
    text-align: left;
    padding-top: 30px;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 40px;
    border: 1;
    border-radius: 5px;
    background-color: rgb(9, 177, 121);
    border-color: rgb(68, 224, 241);
    border-style: groove;
}
.footer h3 {
    font-size: 20px;
    color: rgb(240, 239, 242);
    font-weight: 700;
    margin-left: 60px;
    margin-top: 10px;
}
#locate {
    float: right;
    margin-top: -40px;
    margin-right: 60px;
    color: rgb(248, 240, 240);
    text-transform: capitalize;
    margin-bottom: 10px;
}